/SimpleChat/SimpleChat.API/obj
/SimpleChat/.vs/SimpleChat
/SimpleChat/SimpleChat.BusinessLogic/obj
/SimpleChat/SimpleChat.DataAccess/obj
/.vs
/SimpleChat/SimpleChat.API/bin/
/SimpleChat/SimpleChat.BusinessLogic/bin
/SimpleChat/SimpleChat.DataAccess/bin
/SimpleChat/SimpleChat.API/Properties
