/SimpleChat/SimpleChat.API/obj
/SimpleChat/.vs/SimpleChat
/SimpleChat/SimpleChat.BusinessLogic/obj
/SimpleChat/SimpleChat.DataAccess/obj
/.vs
/SimpleChat/SimpleChat.API/bin/
/SimpleChat/SimpleChat.BusinessLogic/bin
/SimpleChat/SimpleChat.DataAccess/bin
/SimpleChat/SimpleChat.API/Properties
/SimpleChatClientApp/.vs/SimpleChatClientApp/v16
/SimpleChatClientApp/SimpleChatClientApp/bin/Debug/netcoreapp3.1
/SimpleChatClientApp/SimpleChatClientApp/ClientApp/node_modules
/SimpleChatClientApp/SimpleChatClientApp/obj
/SimpleChatClientApp/SimpleChatClientApp/wwwroot
/SimpleChatClientApp/SimpleChatClientApp/Properties
/SimpleChatClientApp/SimpleChatClientApp/ClientApp/src/app/message-box/message.service.js
/SimpleChatClientApp/SimpleChatClientApp/ClientApp/src/app/message-box/message.service.js.map
/SimpleChatClientApp/SimpleChatClientApp/ClientApp/src/app/user/user.service.js
/SimpleChatClientApp/SimpleChatClientApp/ClientApp/src/app/user/user.service.js.map
/SimpleChatClientApp/SimpleChatClientApp/ClientApp/src/app/shared/auth.guard.js.map
/SimpleChatClientApp/SimpleChatClientApp/ClientApp/src/app/shared/auth.guard.js
/SimpleChatClientApp/SimpleChatClientApp/ClientApp/src/app/shared/services/rooms-signalr.service.js.map
/SimpleChatClientApp/SimpleChatClientApp/ClientApp/src/app/shared/services/rooms-signalr.service.js
/SimpleChatClientApp/SimpleChatClientApp/ClientApp/src/app/shared/models/user.model.js.map
/SimpleChatClientApp/SimpleChatClientApp/ClientApp/src/app/shared/models/user.model.js
/SimpleChatClientApp/SimpleChatClientApp/ClientApp/src/app/shared/models/user-room.model.js.map
/SimpleChatClientApp/SimpleChatClientApp/ClientApp/src/app/shared/models/user-room.model.js
/SimpleChatClientApp/SimpleChatClientApp/ClientApp/src/app/shared/models/room.model.js.map
/SimpleChatClientApp/SimpleChatClientApp/ClientApp/src/app/shared/models/room.model.js
/SimpleChatClientApp/SimpleChatClientApp/ClientApp/src/app/shared/models/room-filter.model.js.map
/SimpleChatClientApp/SimpleChatClientApp/ClientApp/src/app/shared/models/room-filter.model.js
/SimpleChatClientApp/SimpleChatClientApp/ClientApp/src/app/shared/models/messages-filter.model.js.map
/SimpleChatClientApp/SimpleChatClientApp/ClientApp/src/app/shared/models/messages-filter.model.js
/SimpleChatClientApp/SimpleChatClientApp/ClientApp/src/app/shared/models/message.model.js.map
/SimpleChatClientApp/SimpleChatClientApp/ClientApp/src/app/shared/models/message.model.js
/SimpleChatClientApp/.vs/SimpleChatClientApp/config
/SimpleChatClientApp/SimpleChatClientApp/ClientApp/src/app/shared/services/rooms-hub.service.js.map
/SimpleChatClientApp/SimpleChatClientApp/ClientApp/src/app/shared/services/rooms-hub.service.js
